<div id="g_id_onload"
     [attr.data-client_id]="clientID"
     data-context="signin"
     data-ux_mode="popup"
     [attr.data-callback]="callbackMethodName"
     data-auto_select="true">
</div>
<div *ngIf="enablePersonalizedSignInButton"
  class="g_id_signin"
  data-type="standard"
  data-shape="rectangular"
  data-theme="outline"
  data-text="signin_with"
  data-size="large"
  data-logo_alignment="left">
</div>
<ng-container *ngIf="(credentialResponse$ | async) as response">
  <pre>{{response | json}}</pre>
</ng-container>
<pre *ngIf="(decodedToken$ | async) as decodedToken">{{decodedToken | json}}</pre>

